# Loading and exploring the JSON data in the notebook

## **Import numpy & pandas**

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/yelp-dataset/Dataset_User_Agreement.pdf
/kaggle/input/yelp-dataset/yelp_academic_dataset_review.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_checkin.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_business.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_tip.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_user.json

# Converting JSON data to a Pandas DataFrame and further exploration & Converting JSON data for MySQL database compatibility

## **Read Json**

In [2]:
import os
from sqlalchemy import create_engine
import sqlalchemy.types

chunksize = 5000

# read_json
review_data = pd.read_json('/kaggle/input/yelp-dataset/yelp_academic_dataset_review.json', lines=True, nrows=chunksize)
checkin_data = pd.read_json('/kaggle/input/yelp-dataset/yelp_academic_dataset_checkin.json', lines=True, nrows=chunksize)
business_data = pd.read_json('/kaggle/input/yelp-dataset/yelp_academic_dataset_business.json', lines=True, nrows=chunksize)
tip_data = pd.read_json('/kaggle/input/yelp-dataset/yelp_academic_dataset_tip.json', lines=True, nrows=chunksize)
user_data = pd.read_json('/kaggle/input/yelp-dataset/yelp_academic_dataset_user.json', lines=True, nrows=chunksize)


# turn the columns to string format in columns 'attributes' and 'hours'
if 'attributes' in business_data.columns:
    business_data['attributes'] = business_data['attributes'].astype(str)
else:
    print("Warning: 'attributes' column not found in the data.")

if 'hours' in business_data.columns:
    business_data['hours'] = business_data['hours'].astype(str)
else:
    print("Warning: 'hours' column not found in the data.")

# check the data loading status
print(review_data.head())
print(review_data.info())

print(checkin_data.head())
print(checkin_data.info())

print(business_data.head())
print(business_data.info())

print(tip_data.head())
print(tip_data.info())

print(user_data.head())
print(user_data.info())

                review_id                 user_id             business_id  \
0  KU_O5udG6zpxOg-VcAEodg  mh_-eMZ6K5RLWhZyISBhwA  XQfwVwDr-v0ZS3_CbbE5Xw
1  BiTunyQ73aT9WBnpR9DZGw  OyoGAe7OKpv6SyGZT5g77Q  7ATYjTIgM3jUlt4UM3IypQ
2  saUsX_uimxRlCVr67Z4Jig  8g_iMtfSiwikVnbP2etR0A  YjUWPpI6HXG530lwP-fb2A
3  AqPFMleE6RsU23_auESxiA  _7bHUi9Uuf5__HHc_Q8guQ  kxX2SOes4o-D3ZQBkiMRfA
4  Sx8TMOWLNuJBWer-0pcmoA  bcjbaE6dDog4jkNY91ncLQ  e4Vwtrqf-wpJfwesgvdgxQ

   stars  useful  funny  cool  \
0      3       0      0     0
1      5       1      0     1
2      3       0      0     0
3      5       1      0     1
4      4       1      0     1

                                                text                date
0  If you decide to eat here, just be aware it is... 2018-07-07 22:09:11
1  I've taken a lot of spin classes over the year... 2012-01-03 15:28:18
2  Family diner. Had the buffet. Eclectic assortm... 2014-02-05 20:30:30
3  Wow!  Yummy, different,  delicious.   Our favo... 2015-01-04 00:01:03
4  Cute interior and owner (?) gave us tour of up... 2017-01-14 20:54:15
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   review_id    5000 non-null   object
 1   user_id      5000 non-null   object
 2   business_id  5000 non-null   object
 3   stars        5000 non-null   int64
 4   useful       5000 non-null   int64
 5   funny        5000 non-null   int64
 6   cool         5000 non-null   int64
 7   text         5000 non-null   object
 8   date         5000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 351.7+ KB
None
              business_id                                               date
0  ---kPU91CF4Lq2-WlRu9Lw  2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
1  --0iUa4sNDFiZFrAdIWhZQ  2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
2  --30_8IhuyMHbSOcNWd6DQ           2013-06-14 23:29:17, 2014-08-13 23:20:22
3  --7PUidqRWpRSpXebiyxTg  2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012...
4  --7jw19RH9JKXgFohspgQw  2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   business_id  5000 non-null   object
 1   date         5000 non-null   object
dtypes: object(2)
memory usage: 78.2+ KB
None
              business_id                      name  \
0  Pns2l4eNsfO8kk83dixA6A  Abby Rappoport, LAC, CMQ
1  mpf3x-BjTdTEA3yCZrAYPw             The UPS Store
2  tUFrWirKiKi_TAnsVWINQQ                    Target
3  MTSW4McQd7CbVtyjqoe9mw        St Honore Pastries
4  mWMc6_wTdE0EUBKIGXDVfA  Perkiomen Valley Brewery

                           address           city state postal_code  \
0           1616 Chapala St, Ste 2  Santa Barbara    CA       93101
1  87 Grasso Plaza Shopping Center         Affton    MO       63123
2             5255 E Broadway Blvd         Tucson    AZ       85711
3                      935 Race St   Philadelphia    PA       19107
4                    101 Walnut St     Green Lane    PA       18054

    latitude   longitude  stars  review_count  is_open  \
0  34.426679 -119.711197    5.0             7        0
1  38.551126  -90.335695    3.0            15        1
2  32.223236 -110.880452    3.5            22        0
3  39.955505  -75.155564    4.0            80        1
4  40.338183  -75.471659    4.5            13        1

                                          attributes  \
0                      {'ByAppointmentOnly': 'True'}
1             {'BusinessAcceptsCreditCards': 'True'}
2  {'BikeParking': 'True', 'BusinessAcceptsCredit...
3  {'RestaurantsDelivery': 'False', 'OutdoorSeati...
4  {'BusinessAcceptsCreditCards': 'True', 'Wheelc...

                                          categories  \
0  Doctors, Traditional Chinese Medicine, Naturop...
1  Shipping Centers, Local Services, Notaries, Ma...
2  Department Stores, Shopping, Fashion, Home & G...
3  Restaurants, Food, Bubble Tea, Coffee & Tea, B...
4                          Brewpubs, Breweries, Food

                                               hours
0                                               None
1  {'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ...
2  {'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ...
3  {'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...
4  {'Wednesday': '14:0-22:0', 'Thursday': '16:0-2...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   5000 non-null   object
 1   name          5000 non-null   object
 2   address       5000 non-null   object
 3   city          5000 non-null   object
 4   state         5000 non-null   object
 5   postal_code   5000 non-null   object
 6   latitude      5000 non-null   float64
 7   longitude     5000 non-null   float64
 8   stars         5000 non-null   float64
 9   review_count  5000 non-null   int64
 10  is_open       5000 non-null   int64
 11  attributes    5000 non-null   object
 12  categories    4995 non-null   object
 13  hours         5000 non-null   object
dtypes: float64(3), int64(2), object(9)
memory usage: 547.0+ KB
None
                  user_id             business_id  \
0  AGNUgVwnZUey3gcPCJ76iw  3uLgwr0qeCNMjKenHJwPGQ
1  NBN4MgHP9D3cw--SnauTkA  QoezRbYQncpRqyrLH6Iqjg
2  -copOvldyKh1qr-vzkDEvw  MYoRNLb5chwjQe3c_k37Gg
3  FjMQVZjSqY8syIO-53KFKw  hV-bABTK-glh5wj31ps_Jw
4  ld0AperBXk1h6UbqmM80zw  _uN0OudeJ3Zl_tf6nxg5ww

                                                text                date  \
0                     Avengers time with the ladies. 2012-05-18 02:17:21
1  They have lots of good deserts and tasty cuban... 2013-02-05 18:35:10
2             It's open even when you think it isn't 2013-08-18 00:56:08
3                          Very decent fried chicken 2017-06-27 23:05:38
4             Appetizers.. platter special for lunch 2012-10-06 19:43:09

   compliment_count
0                 0
1                 0
2                 0
3                 0
4                 0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           5000 non-null   object
 1   business_id       5000 non-null   object
 2   text              5000 non-null   object
 3   date              5000 non-null   datetime64[ns]
 4   compliment_count  5000 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 195.4+ KB
None
                  user_id    name  review_count        yelping_since  useful  \
0  qVc8ODYU5SZjKXVBgXdI7w  Walker           585  2007-01-25 16:47:26    7217
1  j14WgRoU_-2ZE1aw1dXrJg  Daniel          4333  2009-01-25 04:35:42   43091
2  2WnXYQFK0hXEoTxPtV2zvg   Steph           665  2008-07-25 10:41:00    2086
3  SZDeASXq7o05mMNLshsdIA    Gwen           224  2005-11-29 04:38:33     512
4  hA5lMy-EnncsH4JoR-hFGQ   Karen            79  2007-01-05 19:40:59      29

   funny   cool                                              elite  \
0   1259   5994                                               2007
1  13066  27281  2009,2010,2011,2012,2013,2014,2015,2016,2017,2...
2   1010   1003                           2009,2010,2011,2012,2013
3    330    299                                     2009,2010,2011
4     15      7

                                             friends  fans  ...  \
0  NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...   267  ...
1  ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...  3138  ...
2  LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...    52  ...
3  enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...    28  ...
4  PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...     1  ...

   compliment_more  compliment_profile  compliment_cute  compliment_list  \
0               65                  55               56               18
1              264                 184              157              251
2               13                  10               17                3
3                4                   1                6                2
4                1                   0                0                0

   compliment_note  compliment_plain  compliment_cool  compliment_funny  \
0              232               844              467               467
1             1847              7054             3131              3131
2               66                96              119               119
3               12                16               26                26
4                1                 1                0                 0

   compliment_writer  compliment_photos
0                239                180
1               1521               1946
2                 35                 18
3                 10                  9
4                  0                  0

[5 rows x 22 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             5000 non-null   object
 1   name                5000 non-null   object
 2   review_count        5000 non-null   int64
 3   yelping_since       5000 non-null   object
 4   useful              5000 non-null   int64
 5   funny               5000 non-null   int64
 6   cool                5000 non-null   int64
 7   elite               5000 non-null   object
 8   friends             5000 non-null   object
 9   fans                5000 non-null   int64
 10  average_stars       5000 non-null   float64
 11  compliment_hot      5000 non-null   int64
 12  compliment_more     5000 non-null   int64
 13  compliment_profile  5000 non-null   int64
 14  compliment_cute     5000 non-null   int64
 15  compliment_list     5000 non-null   int64
 16  compliment_note     5000 non-null   int64
 17  compliment_plain    5000 non-null   int64
 18  compliment_cool     5000 non-null   int64
 19  compliment_funny    5000 non-null   int64
 20  compliment_writer   5000 non-null   int64
 21  compliment_photos   5000 non-null   int64
dtypes: float64(1), int64(16), object(5)
memory usage: 859.5+ KB
None

## **Add ID column in tip and checkin tables**

In [3]:
# Add column "tip_id" in tip table
tip_data['tip_id'] = range(1, len(tip_data) + 1)

# Add column "checkin_id" in checkin table
checkin_data['checkin_id'] = range(1, len(checkin_data) + 1)

# Code written to explore the structure, time period, and scope of the data

In [4]:
earliest_date = review_data['date'].min()
latest_date = review_data['date'].max()

print("Review table earliest date:", earliest_date)
print("Review table latest date:", latest_date)

Review table earliest date: 2005-03-12 03:47:06
Review table latest date: 2018-10-04 18:10:01

In [5]:
earliest_date = str(checkin_data['date'].min())[:10]
latest_date = checkin_data['date'].max()

print("Check-in table earliest date:", earliest_date)
print("Check-in table latest date:", latest_date)

Check-in table earliest date: 2010-01-16
Check-in table latest date: 2022-01-16 16:19:09

In [6]:
earliest_date = tip_data['date'].min()
latest_date = tip_data['date'].max()

print("Tip table earliest date:", earliest_date)
print("Tip table latest date:", latest_date)

Tip table earliest date: 2009-04-24 04:59:59
Tip table latest date: 2018-05-04 22:32:49

In [7]:
earliest_date = user_data['yelping_since'].min()
latest_date = user_data['yelping_since'].max()

print("User table earliest date:", earliest_date)
print("User table latest date:", latest_date)

User table earliest date: 2005-01-03 18:01:35
User table latest date: 2013-07-30 17:49:45

# Creating all tables in Azure

In [8]:
!pip install sqlalchemy
!pip install pyodbc
!apt-get update
!apt-get install -y unixodbc-dev
!pip install pyodbc
!curl https://packages.microsoft.com/keys/microsoft.asc | apt-key add -
!curl https://packages.microsoft.com/config/ubuntu/$(lsb_release -rs)/prod.list > /etc/apt/sources.list.d/mssql-release.list
!apt-get update
!ACCEPT_EULA=Y apt-get install -y msodbcsql17

Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.10/site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy) (3.0.3)
Collecting pyodbc
  Downloading pyodbc-5.2.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (2.7 kB)
Downloading pyodbc-5.2.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (336 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 336.0/336.0 kB 6.0 MB/s eta 0:00:00a 0:00:01
Installing collected packages: pyodbc
Successfully installed pyodbc-5.2.0
Get:1 http://security.ubuntu.com/ubuntu focal-security InRelease [128 kB]
Get:2 https://packages.cloud.google.com/apt gcsfuse-focal InRelease [1227 B]
Hit:3 http://archive.ubuntu.com/ubuntu focal InRelease
Get:4 http://archive.ubuntu.com/ubuntu focal-updates InRelease [128 kB]
Get:5 https://packages.cloud.google.com/apt cloud-sdk InRelease [1618 B]
Get:6 http://security.ubuntu.com/ubuntu focal-security/universe amd64 Packages [1275 kB]
Get:7 http://security.ubuntu.com/ubuntu focal-security/multiverse amd64 Packages [30.9 kB]
Get:8 http://security.ubuntu.com/ubuntu focal-security/restricted amd64 Packages [4105 kB]
Get:9 http://security.ubuntu.com/ubuntu focal-security/main amd64 Packages [4083 kB]
Get:10 https://packages.cloud.google.com/apt gcsfuse-focal/main amd64 Packages [28.6 kB]
Get:11 http://archive.ubuntu.com/ubuntu focal-backports InRelease [128 kB]
Get:12 https://packages.cloud.google.com/apt cloud-sdk/main amd64 Packages [3375 kB]
Get:13 http://archive.ubuntu.com/ubuntu focal-updates/multiverse amd64 Packages [33.5 kB]
Get:14 http://archive.ubuntu.com/ubuntu focal-updates/restricted amd64 Packages [4258 kB]
Get:15 https://packages.cloud.google.com/apt cloud-sdk/main all Packages [1564 kB]
Get:16 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 Packages [4546 kB]
Get:17 http://archive.ubuntu.com/ubuntu focal-updates/universe amd64 Packages [1566 kB]
Fetched 25.3 MB in 2s (11.2 MB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  autoconf automake autotools-dev file libltdl-dev libmagic-mgc libmagic1
  libodbc1 libsigsegv2 libtool m4 odbcinst odbcinst1debian2
Suggested packages:
  autoconf-archive gnu-standards autoconf-doc gettext libtool-doc libmyodbc
  odbc-postgresql tdsodbc unixodbc-bin gfortran | fortran95-compiler gcj-jdk
  m4-doc
The following NEW packages will be installed:
  autoconf automake autotools-dev file libltdl-dev libmagic-mgc libmagic1
  libodbc1 libsigsegv2 libtool m4 odbcinst odbcinst1debian2 unixodbc-dev
0 upgraded, 14 newly installed, 0 to remove and 58 not upgraded.
Need to get 2212 kB of archives.
After this operation, 15.3 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu focal/main amd64 libmagic-mgc amd64 1:5.38-4 [218 kB]
Get:2 http://archive.ubuntu.com/ubuntu focal/main amd64 libmagic1 amd64 1:5.38-4 [75.9 kB]
Get:3 http://archive.ubuntu.com/ubuntu focal/main amd64 file amd64 1:5.38-4 [23.3 kB]
Get:4 http://archive.ubuntu.com/ubuntu focal/main amd64 libsigsegv2 amd64 2.12-2 [13.9 kB]
Get:5 http://archive.ubuntu.com/ubuntu focal/main amd64 m4 amd64 1.4.18-4 [199 kB]
Get:6 http://archive.ubuntu.com/ubuntu focal/main amd64 autoconf all 2.69-11.1 [321 kB]
Get:7 http://archive.ubuntu.com/ubuntu focal/main amd64 autotools-dev all 20180224.1 [39.6 kB]
Get:8 http://archive.ubuntu.com/ubuntu focal/main amd64 automake all 1:1.16.1-4ubuntu6 [522 kB]
Get:9 http://archive.ubuntu.com/ubuntu focal/main amd64 libltdl-dev amd64 2.4.6-14 [162 kB]
Get:10 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 libodbc1 amd64 2.3.6-0.1ubuntu0.1 [190 kB]
Get:11 http://archive.ubuntu.com/ubuntu focal/main amd64 libtool all 2.4.6-14 [161 kB]
Get:12 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 odbcinst1debian2 amd64 2.3.6-0.1ubuntu0.1 [41.7 kB]
Get:13 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 odbcinst amd64 2.3.6-0.1ubuntu0.1 [14.5 kB]
Get:14 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 unixodbc-dev amd64 2.3.6-0.1ubuntu0.1 [230 kB]
Fetched 2212 kB in 0s (8061 kB/s)
Selecting previously unselected package libmagic-mgc.
(Reading database ... 115958 files and directories currently installed.)
Preparing to unpack .../00-libmagic-mgc_1%3a5.38-4_amd64.deb ...
Unpacking libmagic-mgc (1:5.38-4) ...
Selecting previously unselected package libmagic1:amd64.
Preparing to unpack .../01-libmagic1_1%3a5.38-4_amd64.deb ...
Unpacking libmagic1:amd64 (1:5.38-4) ...
Selecting previously unselected package file.
Preparing to unpack .../02-file_1%3a5.38-4_amd64.deb ...
Unpacking file (1:5.38-4) ...
Selecting previously unselected package libsigsegv2:amd64.
Preparing to unpack .../03-libsigsegv2_2.12-2_amd64.deb ...
Unpacking libsigsegv2:amd64 (2.12-2) ...
Selecting previously unselected package m4.
Preparing to unpack .../04-m4_1.4.18-4_amd64.deb ...
Unpacking m4 (1.4.18-4) ...
Selecting previously unselected package autoconf.
Preparing to unpack .../05-autoconf_2.69-11.1_all.deb ...
Unpacking autoconf (2.69-11.1) ...
Selecting previously unselected package autotools-dev.
Preparing to unpack .../06-autotools-dev_20180224.1_all.deb ...
Unpacking autotools-dev (20180224.1) ...
Selecting previously unselected package automake.
Preparing to unpack .../07-automake_1%3a1.16.1-4ubuntu6_all.deb ...
Unpacking automake (1:1.16.1-4ubuntu6) ...
Selecting previously unselected package libltdl-dev:amd64.
Preparing to unpack .../08-libltdl-dev_2.4.6-14_amd64.deb ...
Unpacking libltdl-dev:amd64 (2.4.6-14) ...
Selecting previously unselected package libodbc1:amd64.
Preparing to unpack .../09-libodbc1_2.3.6-0.1ubuntu0.1_amd64.deb ...
Unpacking libodbc1:amd64 (2.3.6-0.1ubuntu0.1) ...
Selecting previously unselected package libtool.
Preparing to unpack .../10-libtool_2.4.6-14_all.deb ...
Unpacking libtool (2.4.6-14) ...
Selecting previously unselected package odbcinst1debian2:amd64.
Preparing to unpack .../11-odbcinst1debian2_2.3.6-0.1ubuntu0.1_amd64.deb ...
Unpacking odbcinst1debian2:amd64 (2.3.6-0.1ubuntu0.1) ...
Selecting previously unselected package odbcinst.
Preparing to unpack .../12-odbcinst_2.3.6-0.1ubuntu0.1_amd64.deb ...
Unpacking odbcinst (2.3.6-0.1ubuntu0.1) ...
Selecting previously unselected package unixodbc-dev:amd64.
Preparing to unpack .../13-unixodbc-dev_2.3.6-0.1ubuntu0.1_amd64.deb ...
Unpacking unixodbc-dev:amd64 (2.3.6-0.1ubuntu0.1) ...
Setting up libmagic-mgc (1:5.38-4) ...
Setting up libmagic1:amd64 (1:5.38-4) ...
Setting up file (1:5.38-4) ...
Setting up autotools-dev (20180224.1) ...
Setting up libsigsegv2:amd64 (2.12-2) ...
Setting up libodbc1:amd64 (2.3.6-0.1ubuntu0.1) ...
Setting up libtool (2.4.6-14) ...
Setting up m4 (1.4.18-4) ...
Setting up autoconf (2.69-11.1) ...
Setting up automake (1:1.16.1-4ubuntu6) ...
update-alternatives: using /usr/bin/automake-1.16 to provide /usr/bin/automake (automake) in auto mode
update-alternatives: warning: skip creation of /usr/share/man/man1/automake.1.gz because associated file /usr/share/man/man1/automake-1.16.1.gz (of link group automake) doesn't exist
update-alternatives: warning: skip creation of /usr/share/man/man1/aclocal.1.gz because associated file /usr/share/man/man1/aclocal-1.16.1.gz (of link group automake) doesn't exist
Setting up libltdl-dev:amd64 (2.4.6-14) ...
Setting up odbcinst1debian2:amd64 (2.3.6-0.1ubuntu0.1) ...
Setting up unixodbc-dev:amd64 (2.3.6-0.1ubuntu0.1) ...
Setting up odbcinst (2.3.6-0.1ubuntu0.1) ...
Processing triggers for libc-bin (2.31-0ubuntu9.16) ...
Processing triggers for man-db (2.9.1-1) ...
Processing triggers for install-info (6.7.0.dfsg.2-5) ...
Requirement already satisfied: pyodbc in /opt/conda/lib/python3.10/site-packages (5.2.0)
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   983  100   983    0     0   7087      0 --:--:-- --:--:-- --:--:--  7071
OK
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100    89  100    89    0     0    932      0 --:--:-- --:--:-- --:--:--   936
Hit:1 http://security.ubuntu.com/ubuntu focal-security InRelease
Hit:2 http://archive.ubuntu.com/ubuntu focal InRelease
Hit:3 http://archive.ubuntu.com/ubuntu focal-updates InRelease
Hit:4 http://archive.ubuntu.com/ubuntu focal-backports InRelease
Get:5 https://packages.microsoft.com/ubuntu/20.04/prod focal InRelease [3632 B]
Hit:6 https://packages.cloud.google.com/apt gcsfuse-focal InRelease
Hit:7 https://packages.cloud.google.com/apt cloud-sdk InRelease
Get:8 https://packages.microsoft.com/ubuntu/20.04/prod focal/main all Packages [2938 B]
Get:9 https://packages.microsoft.com/ubuntu/20.04/prod focal/main arm64 Packages [68.1 kB]
Get:10 https://packages.microsoft.com/ubuntu/20.04/prod focal/main amd64 Packages [319 kB]
Get:11 https://packages.microsoft.com/ubuntu/20.04/prod focal/main armhf Packages [22.8 kB]
Fetched 417 kB in 1s (468 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  libodbc1 odbcinst odbcinst1debian2 unixodbc unixodbc-dev
Suggested packages:
  unixodbc-bin
The following NEW packages will be installed:
  msodbcsql17 unixodbc
The following packages will be upgraded:
  libodbc1 odbcinst odbcinst1debian2 unixodbc-dev
4 upgraded, 2 newly installed, 0 to remove and 58 not upgraded.
Need to get 1447 kB of archives.
After this operation, 142 kB disk space will be freed.
Get:1 https://packages.microsoft.com/ubuntu/20.04/prod focal/main amd64 odbcinst amd64 2.3.11-1 [21.3 kB]
Get:2 https://packages.microsoft.com/ubuntu/20.04/prod focal/main amd64 unixodbc-dev amd64 2.3.11-1 [42.4 kB]
Get:3 https://packages.microsoft.com/ubuntu/20.04/prod focal/main amd64 odbcinst1debian2 amd64 2.3.11-1 [99.8 kB]
Get:4 https://packages.microsoft.com/ubuntu/20.04/prod focal/main amd64 libodbc1 amd64 2.3.11-1 [486 kB]
Get:5 https://packages.microsoft.com/ubuntu/20.04/prod focal/main amd64 unixodbc amd64 2.3.11-1 [51.5 kB]
Get:6 https://packages.microsoft.com/ubuntu/20.04/prod focal/main amd64 msodbcsql17 amd64 17.10.6.1-1 [746 kB]
Fetched 1447 kB in 0s (4636 kB/s)
Preconfiguring packages ...
(Reading database ... 116412 files and directories currently installed.)
Preparing to unpack .../0-odbcinst_2.3.11-1_amd64.deb ...
Unpacking odbcinst (2.3.11-1) over (2.3.6-0.1ubuntu0.1) ...
Preparing to unpack .../1-unixodbc-dev_2.3.11-1_amd64.deb ...
Unpacking unixodbc-dev (2.3.11-1) over (2.3.6-0.1ubuntu0.1) ...
Preparing to unpack .../2-odbcinst1debian2_2.3.11-1_amd64.deb ...
Unpacking odbcinst1debian2:amd64 (2.3.11-1) over (2.3.6-0.1ubuntu0.1) ...
Preparing to unpack .../3-libodbc1_2.3.11-1_amd64.deb ...
Unpacking libodbc1:amd64 (2.3.11-1) over (2.3.6-0.1ubuntu0.1) ...
Selecting previously unselected package unixodbc.
Preparing to unpack .../4-unixodbc_2.3.11-1_amd64.deb ...
Unpacking unixodbc (2.3.11-1) ...
Selecting previously unselected package msodbcsql17.
Preparing to unpack .../5-msodbcsql17_17.10.6.1-1_amd64.deb ...
Unpacking msodbcsql17 (17.10.6.1-1) ...
Setting up libodbc1:amd64 (2.3.11-1) ...
Setting up odbcinst1debian2:amd64 (2.3.11-1) ...
Setting up odbcinst (2.3.11-1) ...
Setting up unixodbc (2.3.11-1) ...
Setting up msodbcsql17 (17.10.6.1-1) ...
odbcinst: Driver installed. Usage count increased to 1.
    Target directory is /etc
Setting up unixodbc-dev (2.3.11-1) ...
Processing triggers for libc-bin (2.31-0ubuntu9.16) ...
Processing triggers for man-db (2.9.1-1) ...

## **Connect to Azure**

In [9]:
username = 'admingroup7'  
password = '1101Group7' 
server = 'miniproject1-enterprise.database.windows.net'
database = 'miniproject1_group7'

connection_string = f"mssql+pyodbc://{username}:{password}@{server}:1433/{database}?driver=ODBC+Driver+17+for+SQL+Server"
engine = create_engine(connection_string)

## **Check the connection**

In [14]:
# CHECK!!!
# check if the connection success or not, if not, should check the IP address
try:
    with engine.connect() as connection:
        print("Connection successful!")
except Exception as e:
    print("Failed to connect:", e)

Connection successful!

# All data in all tables ported over

## Saving Pandas DataFrame **review_data** to SQL Database Table "**review**"

In [15]:
review_data.to_sql(
    name="review",
    con=engine,
    if_exists='replace',
    index=True,
    dtype={'attributes': sqlalchemy.types.NVARCHAR, 'hours': sqlalchemy.types.NVARCHAR},
    chunksize=1000
)

820

## Saving Pandas DataFrame **checkin_data** to SQL Database Table "**checkin**"

In [16]:
checkin_data.to_sql(
    name="checkin",
    con=engine,
    if_exists='replace',
    index=True,
    chunksize=1000
)

2380

## Saving Pandas DataFrame **business_data** to SQL Database Table "**business**"

In [17]:
business_data.to_sql(
    name="business",
    con=engine,
    if_exists='replace',
    index=True,
    dtype={'attributes': sqlalchemy.types.NVARCHAR, 'hours': sqlalchemy.types.NVARCHAR},
    chunksize=1000
)

135

## Saving Pandas DataFrame **tip_data** to SQL Database Table "**tip**"

In [18]:
tip_data.to_sql(
    name="tip",
    con=engine,
    if_exists='replace',
    index=True,
    dtype={'attributes': sqlalchemy.types.NVARCHAR, 'hours': sqlalchemy.types.NVARCHAR},
    chunksize=1000
)

515

## Saving Pandas DataFrame **user_data** to SQL Database Table "**user**"

In [19]:
user_data.to_sql(
    name="user",
    con=engine,
    if_exists='replace',
    index=True,
    dtype={'attributes': sqlalchemy.types.NVARCHAR, 'hours': sqlalchemy.types.NVARCHAR},
    chunksize=1000
)

450

## **Import to execute SQL syntax**

In [20]:
!pip install pyodbc sqlalchemy ipython-sql

Requirement already satisfied: pyodbc in /opt/conda/lib/python3.10/site-packages (5.2.0)
Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.10/site-packages (2.0.30)
Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (3.10.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (8.21.0)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.5.0)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.47)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: exceptiongroup in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (1.2.0)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/conda/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [21]:
%load_ext sql

# Load the connection string into the %sql magic command
%sql $connection_string

# Setting appropriate metadata

## **Set the primary key**

In [22]:
%%sql
-- Delete primary key
ALTER TABLE review
DROP CONSTRAINT IF EXISTS PK_review;

ALTER TABLE checkin
DROP CONSTRAINT IF EXISTS PK_checkin;

ALTER TABLE business
DROP CONSTRAINT IF EXISTS PK_business;

ALTER TABLE tip
DROP CONSTRAINT IF EXISTS PK_tip;

ALTER TABLE [user]
DROP CONSTRAINT IF EXISTS PK_user;


-- delete default foreign key
ALTER TABLE review
DROP CONSTRAINT IF EXISTS FK_review_business; 
ALTER TABLE review
DROP CONSTRAINT IF EXISTS FK_review_user;

ALTER TABLE checkin
DROP CONSTRAINT IF EXISTS FK_checkin_business;

ALTER TABLE tip
DROP CONSTRAINT IF EXISTS FK_tip_business;
ALTER TABLE tip
DROP CONSTRAINT IF EXISTS FK_tip_user;

-- Revise the column metadata
ALTER TABLE review
ALTER COLUMN review_id VARCHAR(22) NOT NULL;
ALTER TABLE review
ALTER COLUMN business_id VARCHAR(22) NULL;
ALTER TABLE review
ALTER COLUMN user_id VARCHAR(22) NULL;

ALTER TABLE checkin
ALTER COLUMN checkin_id INT NOT NULL;
ALTER TABLE checkin
ALTER COLUMN business_id VARCHAR(22) NULL;

ALTER TABLE business
ALTER COLUMN business_id VARCHAR(22) NOT NULL;

ALTER TABLE tip
ALTER COLUMN tip_id INT NOT NULL;
ALTER TABLE tip
ALTER COLUMN business_id VARCHAR(22) NULL;
ALTER TABLE tip
ALTER COLUMN user_id VARCHAR(22) NULL;

ALTER TABLE [user]
ALTER COLUMN user_id VARCHAR(22) NOT NULL;

-- Set the primary key
ALTER TABLE review
ADD CONSTRAINT PK_review PRIMARY KEY (review_id);

ALTER TABLE checkin
ADD CONSTRAINT PK_checkin PRIMARY KEY (checkin_id);

ALTER TABLE business
ADD CONSTRAINT PK_business PRIMARY KEY (business_id);

ALTER TABLE tip
ADD CONSTRAINT PK_tip PRIMARY KEY (tip_id);

ALTER TABLE [user]
ADD CONSTRAINT PK_user PRIMARY KEY (user_id);

-- Set the foreign key
-- ALTER TABLE review
-- ADD CONSTRAINT FK_review_business FOREIGN KEY (business_id) REFERENCES business(business_id);
-- ALTER TABLE review
-- ADD CONSTRAINT FK_review_user FOREIGN KEY (user_id) REFERENCES user(user_id);

-- ALTER TABLE checkin
-- ADD CONSTRAINT FK_checkin_business FOREIGN KEY (business_id) REFERENCES business(business_id);

-- ALTER TABLE tip
-- ADD CONSTRAINT FK_tip_business FOREIGN KEY (business_id) REFERENCES business(business_id);
-- ALTER TABLE review
-- ADD CONSTRAINT FK_tip_user FOREIGN KEY (user_id) REFERENCES user(user_id);

 * mssql+pyodbc://admingroup7:***@miniproject1-enterprise.database.windows.net:1433/miniproject1_group7?driver=ODBC+Driver+17+for+SQL+Server
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

## **Check table contents**

In [23]:
%%sql
SELECT TOP 2 *
FROM review;

 * mssql+pyodbc://admingroup7:***@miniproject1-enterprise.database.windows.net:1433/miniproject1_group7?driver=ODBC+Driver+17+for+SQL+Server
Done.

[(0, 'KU_O5udG6zpxOg-VcAEodg', 'mh_-eMZ6K5RLWhZyISBhwA', 'XQfwVwDr-v0ZS3_CbbE5Xw', 3, 0, 0, 0, "If you decide to eat here, just be aware it is going to take about 2 hours from beginning to end. We have tried it multiple times, because I want to  ... (217 characters truncated) ... oo many experiences where we spent way too long waiting. We usually opt for another diner or restaurant on the weekends, in order to be done quicker.", datetime.datetime(2018, 7, 7, 22, 9, 11)),
 (1, 'BiTunyQ73aT9WBnpR9DZGw', 'OyoGAe7OKpv6SyGZT5g77Q', '7ATYjTIgM3jUlt4UM3IypQ', 5, 1, 0, 1, "I've taken a lot of spin classes over the years, and nothing compares to the classes at Body Cycle. From the nice, clean space and amazing bikes, to  ... (535 characters truncated) ... uragement, and is open to ideas and recommendations from anyone. Russell always wears a smile on his face, even when he's kicking your butt in class!", datetime.datetime(2012, 1, 3, 15, 28, 18))]

In [24]:
%%sql
SELECT TOP 6 *
FROM checkin;

 * mssql+pyodbc://admingroup7:***@miniproject1-enterprise.database.windows.net:1433/miniproject1_group7?driver=ODBC+Driver+17+for+SQL+Server
Done.

[(0, '---kPU91CF4Lq2-WlRu9Lw', '2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020-07-24 22:42:27, 2020-10-24 21:36:13, 2020-12-09 21:23:33, 2021-01-20 17:34:57, 2021-04-30 21:02:03, 2021-05-25 21:16:54, 2021-08-06 21:08:08, 2021-10-02 15:15:42, 2021-11-11 16:23:50', 1),
 (1, '--0iUa4sNDFiZFrAdIWhZQ', '2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011-07-18 22:30:31, 2012-09-07 20:28:50, 2013-03-27 15:57:36, 2013-08-13 00:31:34, 2013-08-13 00:31:48, 2013-09-23 17:39:38, 2013-11-18 06:34:08, 2014-04-12 23:04:47', 2),
 (2, '--30_8IhuyMHbSOcNWd6DQ', '2013-06-14 23:29:17, 2014-08-13 23:20:22', 3),
 (3, '--7PUidqRWpRSpXebiyxTg', '2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012-03-11 10:30:02, 2012-04-24 07:07:59, 2012-04-24 07:43:31, 2013-05-25 16:41:10, 2014-05-02 15:49:55, 2014-09-18 02:28:23, 2014-11-10 15:16:43, 2015-09-27 13:18:32', 4),
 (4, '--7jw19RH9JKXgFohspgQw', '2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014-09-30 14:41:47, 2014-10-23 18:22:28, 2015-04-27 19:55:00, 2015-09-21 12:52:09, 2015-10-01 12:46:16, 20 ... (246 characters truncated) ... 11, 2016-12-27 14:36:14, 2017-01-24 20:18:16, 2017-02-21 16:01:49, 2017-03-21 14:08:44, 2017-05-21 16:07:21, 2017-08-07 14:17:39, 2021-06-21 19:59:50', 5),
 (5, '--8IbOsAAxjKRoYsBFL-PA', '2015-06-06 01:03:19, 2015-07-29 16:50:58, 2015-08-04 00:47:59, 2015-08-07 02:07:52, 2015-08-07 17:25:40, 2015-10-12 21:08:43, 2015-11-13 03:06:00, 20 ... (372 characters truncated) ... 41, 2017-10-15 00:44:45, 2017-11-14 20:51:58, 2017-12-02 19:22:33, 2017-12-04 19:28:58, 2018-02-15 20:48:11, 2018-04-30 18:30:36, 2018-07-12 21:34:36', 6)]

In [25]:
%%sql
SELECT TOP 5 *
FROM business;

 * mssql+pyodbc://admingroup7:***@miniproject1-enterprise.database.windows.net:1433/miniproject1_group7?driver=ODBC+Driver+17+for+SQL+Server
Done.

[(0, 'Pns2l4eNsfO8kk83dixA6A', 'Abby Rappoport, LAC, CMQ', '1616 Chapala St, Ste 2', 'Santa Barbara', 'CA', '93101', 34.4266787, -119.7111968, 5.0, 7, 0, "{'ByAppointmentOnly': 'True'}", 'Doctors, Traditional Chinese Medicine, Naturopathic/Holistic, Acupuncture, Health & Medical, Nutritionists', 'None'),
 (1, 'mpf3x-BjTdTEA3yCZrAYPw', 'The UPS Store', '87 Grasso Plaza Shopping Center', 'Affton', 'MO', '63123', 38.551126, -90.335695, 3.0, 15, 1, "{'BusinessAcceptsCreditCards': 'True'}", 'Shipping Centers, Local Services, Notaries, Mailbox Centers, Printing Services', "{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', 'Wednesday': '8:0-18:30', 'Thursday': '8:0-18:30', 'Friday': '8:0-18:30', 'Saturday': '8:0-14:0'}"),
 (2, 'tUFrWirKiKi_TAnsVWINQQ', 'Target', '5255 E Broadway Blvd', 'Tucson', 'AZ', '85711', 32.223236, -110.880452, 3.5, 22, 0, '{\'BikeParking\': \'True\', \'BusinessAcceptsCreditCards\': \'True\', \'RestaurantsPriceRange2\': \'2\', \'CoatCheck\': \'False\', \'RestaurantsTakeO ... (282 characters truncated) ... doorSeating\': \'False\', \'HasTV\': \'False\', \'RestaurantsReservations\': \'False\', \'DogsAllowed\': \'False\', \'ByAppointmentOnly\': \'False\'}', 'Department Stores, Shopping, Fashion, Home & Garden, Electronics, Furniture Stores', "{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', 'Wednesday': '8:0-22:0', 'Thursday': '8:0-22:0', 'Friday': '8:0-23:0', 'Saturday': '8:0-23:0', 'Sunday': '8:0-22:0'}"),
 (3, 'MTSW4McQd7CbVtyjqoe9mw', 'St Honore Pastries', '935 Race St', 'Philadelphia', 'PA', '19107', 39.9555052, -75.1555641, 4.0, 80, 1, '{\'RestaurantsDelivery\': \'False\', \'OutdoorSeating\': \'False\', \'BusinessAcceptsCreditCards\': \'False\', \'BusinessParking\': "{\'garage\': Fal ... (131 characters truncated) ... \': \'1\', \'RestaurantsTakeOut\': \'True\', \'ByAppointmentOnly\': \'False\', \'WiFi\': "u\'free\'", \'Alcohol\': "u\'none\'", \'Caters\': \'True\'}', 'Restaurants, Food, Bubble Tea, Coffee & Tea, Bakeries', "{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', 'Wednesday': '7:0-20:0', 'Thursday': '7:0-20:0', 'Friday': '7:0-21:0', 'Saturday': '7:0-21:0', 'Sunday': '7:0-21:0'}"),
 (4, 'mWMc6_wTdE0EUBKIGXDVfA', 'Perkiomen Valley Brewery', '101 Walnut St', 'Green Lane', 'PA', '18054', 40.3381827, -75.4716585, 4.5, 13, 1, '{\'BusinessAcceptsCreditCards\': \'True\', \'WheelchairAccessible\': \'True\', \'RestaurantsTakeOut\': \'True\', \'BusinessParking\': "{\'garage\': N ... (6 characters truncated) ... 'street\': None, \'validated\': None, \'lot\': True, \'valet\': False}", \'BikeParking\': \'True\', \'GoodForKids\': \'True\', \'Caters\': \'False\'}', 'Brewpubs, Breweries, Food', "{'Wednesday': '14:0-22:0', 'Thursday': '16:0-22:0', 'Friday': '12:0-22:0', 'Saturday': '12:0-22:0', 'Sunday': '12:0-18:0'}")]

In [26]:
%%sql
SELECT TOP 6 *
FROM tip;

 * mssql+pyodbc://admingroup7:***@miniproject1-enterprise.database.windows.net:1433/miniproject1_group7?driver=ODBC+Driver+17+for+SQL+Server
Done.

[(0, 'AGNUgVwnZUey3gcPCJ76iw', '3uLgwr0qeCNMjKenHJwPGQ', 'Avengers time with the ladies.', datetime.datetime(2012, 5, 18, 2, 17, 21), 0, 1),
 (1, 'NBN4MgHP9D3cw--SnauTkA', 'QoezRbYQncpRqyrLH6Iqjg', 'They have lots of good deserts and tasty cuban sandwiches', datetime.datetime(2013, 2, 5, 18, 35, 10), 0, 2),
 (2, '-copOvldyKh1qr-vzkDEvw', 'MYoRNLb5chwjQe3c_k37Gg', "It's open even when you think it isn't", datetime.datetime(2013, 8, 18, 0, 56, 8), 0, 3),
 (3, 'FjMQVZjSqY8syIO-53KFKw', 'hV-bABTK-glh5wj31ps_Jw', 'Very decent fried chicken', datetime.datetime(2017, 6, 27, 23, 5, 38), 0, 4),
 (4, 'ld0AperBXk1h6UbqmM80zw', '_uN0OudeJ3Zl_tf6nxg5ww', 'Appetizers.. platter special for lunch', datetime.datetime(2012, 10, 6, 19, 43, 9), 0, 5),
 (5, 'trf3Qcz8qvCDKXiTgjUcEg', '7Rm9Ba50bw23KTA8RedZYg', 'Chili Cup + Single Cheeseburger with onion, pickle, and relish + Vanilla Coca-Cola...so far.', datetime.datetime(2012, 3, 13, 4, 0, 52), 0, 6)]

In [27]:
%%sql
SELECT TOP 0 *
FROM [user];

 * mssql+pyodbc://admingroup7:***@miniproject1-enterprise.database.windows.net:1433/miniproject1_group7?driver=ODBC+Driver+17+for+SQL+Server
0 rows affected.

[]

# Formulating 10 SQL queries relevant to starting a new restaurant

## **Start executing SQL query**

## 1. Determine the Number of Restaurants in Each State
* **Purpose**: Find the number of restaurants in each state to help calculate the proportion of five-star restaurants.
* **Insight**: PA has the highest number of restaurants.

In [28]:
%%sql
SELECT state, COUNT(*) AS restaurant_count
FROM business
WHERE categories LIKE '%Restaurants%'
GROUP BY state
ORDER BY restaurant_count DESC;

 * mssql+pyodbc://admingroup7:***@miniproject1-enterprise.database.windows.net:1433/miniproject1_group7?driver=ODBC+Driver+17+for+SQL+Server
Done.

[('PA', 430),
 ('FL', 272),
 ('TN', 167),
 ('IN', 155),
 ('LA', 130),
 ('MO', 129),
 ('NJ', 110),
 ('AB', 91),
 ('AZ', 75),
 ('NV', 64),
 ('CA', 44),
 ('ID', 39),
 ('IL', 37),
 ('DE', 19)]

## 2. Determine the Number of Five-Star Restaurants in Each State
* **Purpose**: Identify the number of five-star restaurants per state to calculate the five-star ratio.
* **Insight**: Interestingly, FL has more five-star restaurants than PA.

In [29]:
%%sql
SELECT state, Count(*) AS five_stars_restaurant_num
FROM business
WHERE categories LIKE '%Restaurants%' AND stars = '5.0'
GROUP BY state
ORDER BY five_stars_restaurant_num DESC;

 * mssql+pyodbc://admingroup7:***@miniproject1-enterprise.database.windows.net:1433/miniproject1_group7?driver=ODBC+Driver+17+for+SQL+Server
Done.

[('FL', 10),
 ('PA', 8),
 ('TN', 6),
 ('AZ', 6),
 ('IN', 4),
 ('NJ', 3),
 ('NV', 3),
 ('DE', 3),
 ('LA', 2),
 ('AB', 2),
 ('ID', 1),
 ('IL', 1)]

## 3. Identify the State with the Least Proportion of Five-Star Restaurants to Open a New Restaurant in that State
* **Purpose**: A lower five-star ratio might indicate weaker competition in that state.
* **Insight**: Two states, CA and MO, lack any five-star restaurants, but they differ in the total number of restaurants, so further analysis is needed to find the most suitable state.

In [30]:
%%sql
WITH restaurant_counts AS (
    SELECT state, COUNT(*) AS restaurant_count
    FROM business
    WHERE categories LIKE '%Restaurants%'
    GROUP BY state
),
five_stars_restaurant_num AS (
    SELECT state, Count(*) AS five_stars_restaurant_num
    FROM business
    WHERE categories LIKE '%Restaurants%' AND stars = '5.0'
    GROUP BY state
)
SELECT r.state, 
       r.restaurant_count, 
       f.five_stars_restaurant_num,
       ROUND((CAST(f.five_stars_restaurant_num AS FLOAT) / r.restaurant_count),2) AS five_star_ratio
FROM restaurant_counts r
LEFT JOIN five_stars_restaurant_num f ON r.state = f.state
ORDER BY five_star_ratio ASC;

 * mssql+pyodbc://admingroup7:***@miniproject1-enterprise.database.windows.net:1433/miniproject1_group7?driver=ODBC+Driver+17+for+SQL+Server
Done.

[('CA', 44, None, None),
 ('MO', 129, None, None),
 ('PA', 430, 8, 0.02),
 ('AB', 91, 2, 0.02),
 ('LA', 130, 2, 0.02),
 ('ID', 39, 1, 0.03),
 ('IL', 37, 1, 0.03),
 ('IN', 155, 4, 0.03),
 ('NJ', 110, 3, 0.03),
 ('TN', 167, 6, 0.04),
 ('FL', 272, 10, 0.04),
 ('NV', 64, 3, 0.05),
 ('AZ', 75, 6, 0.08),
 ('DE', 19, 3, 0.16)]

## 4. Calculate the Review-to-Restaurant Ratio for CA and MO to Determine Which State Has a Larger Customer Base
* **Purpose**: Use review_count as a rough indicator of customer base size to compare with the restaurant count, helping identify which state may have a higher demand.
* **Insight**: CA has a much higher review-to-restaurant ratio than MO, suggesting a larger customer base in CA, making it a better choice for a new restaurant.

In [31]:
%%sql
WITH restaurant_counts AS (
    SELECT state, COUNT(*) AS restaurant_count
    FROM business
    WHERE categories LIKE '%Restaurants%'
    GROUP BY state
)
SELECT r.state, r.restaurant_count, 
    SUM(b.review_count) AS total_review_count,
    (SUM(b.review_count) / r.restaurant_count) AS review_to_restaurant_ratio
FROM restaurant_counts r
LEFT JOIN business b ON r.state = b.state
WHERE r.state IN ('CA', 'MO')
GROUP BY r.state, r.restaurant_count
ORDER BY 
    review_to_restaurant_ratio DESC;

 * mssql+pyodbc://admingroup7:***@miniproject1-enterprise.database.windows.net:1433/miniproject1_group7?driver=ODBC+Driver+17+for+SQL+Server
Done.

[('CA', 44, 11257, 255), ('MO', 129, 16824, 130)]

## 5. Analyze City Demand and Confirm Location for New Store
* **Method**: For each city in CA, calculate total reviews and restaurant count, then identify the top three cities by ratio.
* **Purpose**: Identify cities with high review counts (indicating high demand) and fewer restaurants to find the best city to open a store.
* **Insight**: Carpinteria has the highest review-to-restaurant ratio, suggesting high demand relative to supply.

In [32]:
%%sql
WITH city_review_counts AS (
    SELECT city, COUNT(*) AS restaurant_count, SUM(review_count) AS total_review_count
    FROM business
    WHERE state = 'CA' AND categories LIKE '%Restaurants%'
    GROUP BY city
)
SELECT TOP 3 city, 
       restaurant_count, 
       total_review_count,
       (total_review_count * 1.0 / restaurant_count) AS review_ratio
FROM city_review_counts
ORDER BY review_ratio DESC;

 * mssql+pyodbc://admingroup7:***@miniproject1-enterprise.database.windows.net:1433/miniproject1_group7?driver=ODBC+Driver+17+for+SQL+Server
Done.

[('Carpinteria', 6, 1699, Decimal('283.166666666666')),
 ('Santa Barbara', 23, 4316, Decimal('187.652173913043')),
 ('Goleta', 11, 1341, Decimal('121.909090909090'))]

## 6. Identify Popular Restaurant Categories Based on Review Counts
* **Purpose**: Identify popular cuisine types by reviewing categories with high customer counts to help guide our new restaurant's menu.
* **Insight**: Pizza is widely popular, followed closely by Chinese cuisine.

In [33]:
%%sql
SELECT TOP 10 categories, COUNT(business_id) AS store_count, SUM(review_count) AS categories_review_count
FROM business
WHERE categories LIKE '%Restaurants%'
GROUP BY categories
ORDER BY store_count DESC, categories_review_count DESC;

 * mssql+pyodbc://admingroup7:***@miniproject1-enterprise.database.windows.net:1433/miniproject1_group7?driver=ODBC+Driver+17+for+SQL+Server
Done.

[('Restaurants, Pizza', 39, 1313),
 ('Restaurants, Chinese', 26, 784),
 ('Pizza, Restaurants', 24, 842),
 ('Chinese, Restaurants', 22, 531),
 ('Mexican, Restaurants', 21, 1409),
 ('Restaurants, Mexican', 14, 1054),
 ('Italian, Restaurants', 13, 559),
 ('American (New), Restaurants', 10, 686),
 ('Restaurants, Italian', 9, 608),
 ('Restaurants, Fast Food, Burgers', 9, 177)]

## 7. Count the Number of Pizza Restaurants in Carpinteria
* **Purpose**: Assess the number of local competitors.
* **Insight**: There is only one pizza competitor, so opening a pizza restaurant here could be advantageous given the high demand.

In [34]:
%%sql
SELECT categories, COUNT(business_id) AS competitor_count, SUM(review_count) AS categories_review_count
FROM business
WHERE categories LIKE '%Pizza%' AND city = 'Carpinteria'
GROUP BY categories
ORDER BY categories_review_count DESC;

 * mssql+pyodbc://admingroup7:***@miniproject1-enterprise.database.windows.net:1433/miniproject1_group7?driver=ODBC+Driver+17+for+SQL+Server
Done.

[('Restaurants, French, Italian, Pizza', 1, 169)]

## 8. Determine the Optimal Opening Hours for New Restaurant
* **Purpose**: Review local operating hours to align with customer dining habits.
* **Insight**: Half the restaurants, including our main pizza competitor, are closed on Mondays. Operating on Mondays and closing on Thursdays (when no other restaurants close) could differentiate us. Preferred hours would be 11:30 am - 8:30 pm, to serve lunch (compare to our main pizza competitor), and close around the time most other restaurants do.

In [35]:
%%sql
SELECT business_id, categories, hours
FROM business
WHERE city = 'Carpinteria' AND categories LIKE '%Restaurant%';

 * mssql+pyodbc://admingroup7:***@miniproject1-enterprise.database.windows.net:1433/miniproject1_group7?driver=ODBC+Driver+17+for+SQL+Server
Done.

[('18eWJFJbXyR9j_5xfcRLYA', 'Restaurants, Thai', "{'Tuesday': '17:0-21:30', 'Wednesday': '17:0-21:30', 'Thursday': '17:0-21:30', 'Friday': '17:0-21:30', 'Saturday': '12:0-21:30', 'Sunday': '12:0-21:30'}"),
 ('kHOXo-IZSpixpctmHsGlyA', 'American (Traditional), Restaurants', "{'Monday': '11:0-20:0'}"),
 ('uFF40n9pOqHK1ciajdoSEw', 'Restaurants, American (Traditional)', "{'Monday': '11:30-20:30', 'Tuesday': '11:30-20:30', 'Thursday': '11:30-20:30', 'Friday': '11:30-21:0', 'Saturday': '11:30-21:0', 'Sunday': '11:30-20:30'}"),
 ('_v3DcLatG70adfYzWTd-CQ', 'Sandwiches, Specialty Food, Food, Health Markets, Juice Bars & Smoothies, Restaurants', "{'Monday': '9:0-18:30', 'Tuesday': '9:0-18:30', 'Wednesday': '9:0-18:30', 'Thursday': '9:0-18:30', 'Friday': '9:0-18:30', 'Saturday': '9:0-18:30'}"),
 ('1FURjeGJi_LBXcJQg8eskw', 'American (Traditional), Restaurants, Seafood, Burgers, Tacos, Sandwiches, Mexican, Bars, Food, Beer Bar, Juice Bars & Smoothies, Nightlife', "{'Monday': '0:0-0:0', 'Tuesday': '11:0-19:30', 'Wednesday': '11:0-19:30', 'Thursday': '11:0-19:30', 'Friday': '11:0-20:0', 'Saturday': '11:0-20:0', 'Sunday': '11:0-19:30'}"),
 ('uI15YInpDsGBUZcNfm_TfQ', 'Restaurants, French, Italian, Pizza', "{'Monday': '0:0-0:0', 'Wednesday': '17:30-20:30', 'Thursday': '17:30-20:30', 'Friday': '17:30-21:0', 'Saturday': '11:30-21:0', 'Sunday': '11:30-20:0'}")]

## 9. Review Competitor Feedback to Identify Common Pitfalls
* **Purpose**: Learn from competitor reviews to adopt best practices and avoid common issues.
* **Insight**: Feedback suggests adding televisions to appeal to a wider age range.

In [36]:
%%sql
SELECT business_id, stars, text
FROM REVIEW
WHERE business_id = 'uI15YInpDsGBUZcNfm_TfQ';

 * mssql+pyodbc://admingroup7:***@miniproject1-enterprise.database.windows.net:1433/miniproject1_group7?driver=ODBC+Driver+17+for+SQL+Server
Done.

[('uI15YInpDsGBUZcNfm_TfQ', 4, "I'm glad that Michael & Lucy found a way to open up another family restaurant after years at Tony's on Linden (now closed following an ugly family di ... (527 characters truncated) ... nta Claus Lane seems to be having a bit of a Renaissance after many years of being known mostly for outdated kitschy roadside attractions. Good luck!")]

## 10. Analyze Competitor Tips and Insights
* **Purpose**: Research competitor insights.
* **Insight**: Competitors’ reviews are minimal, suggesting they may not pose significant competition.

In [37]:
%%sql
SELECT business_id, text, compliment_count
FROM tip
WHERE business_id = 'uI15YInpDsGBUZcNfm_TfQ';

 * mssql+pyodbc://admingroup7:***@miniproject1-enterprise.database.windows.net:1433/miniproject1_group7?driver=ODBC+Driver+17+for+SQL+Server
0 rows affected.

[]